{% extends "base.html" %}

{% block content %}
    <h1 style="margin-bottom:30px;">task {{ object }}
        <span class="pull-right">
            <a class="btn btn-primary" href="edit/">Edit task</a>
            <a class="btn btn-danger" href="delete/">Delete task</a>
            <a class="btn btn-primary" href="run/">Run task</a>
        </span>
    </h1>

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{ task.task_name}}</dd>
                    <dt>URL</dt>
                    <dd>{{ task.target }}</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock content %}